<!DOCTYPE html>

<html>


<head>

    <title>Registration</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>


<body>

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-md-6">

                <div class="card mt-5">

                    <div class="card-header">

                        <h4 class="card-title text-center">Registration</h4>

                    </div>

                    <div class="card-body">

                        <form id="registrationForm">

                            <div class="form-group">

                                <label for="name">Name</label>

                                <input type="text" name="name" id="name" class="form-control" value="" required
                                    autocomplete="name" autofocus>

                                <!-- <span class="invalid-feedback" role="alert">

                                    <strong>{{ $message }}</strong>

                                </span> -->

                            </div>

                            <div class="form-group">

                                <label for="email">Email</label>

                                <input type="email" name="email" id="email" class="form-control" value="" required
                                    autocomplete="email">

                                <!-- <span class="invalid-feedback" role="alert">

                                    <strong>{{ $message }}</strong>

                                </span> -->

                            </div>

                            <div class="form-group">

                                <label for="password">Password</label>

                                <input type="password" name="password" id="password"
                                    class="form-control @error('password')  @enderror" required
                                    autocomplete="new-password">

                                <!-- <span class="invalid-feedback" role="alert">

                                    <strong>{{ $message }}</strong>

                                </span> -->

                            </div>

                            <div class="form-group">

                                <label for="password-confirm">Confirm Password</label>

                                <input type="password" name="passwordConfirm" id="password-confirm" class="form-control"
                                    required autocomplete="new-password">

                                <!-- <span class="invalid-feedback" role="alert">

                                    <strong>{{ $message }}</strong>

                                </span> -->

                            </div>
                            <div class="form-group">

                                <a href="/login" class="" for="remember">Have an Account? Login</a>
                            </div>

                            <div class="form-group">

                                <button type="submit" class="btn btn-primary btn-block">

                                    Register

                                </button>

                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <script src="./backend/register.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</body>


</html>