.task-card:hover {
    filter: brightness(100%);
    cursor: unset;
}

.add-member-container {
    display: flex;
    column-gap: 10px;
    align-items: center;
    position: relative;
}

.add-member-input {
    height: 40px;
    width: 250px;
    padding: 10px;
    border-radius: 6px;

}

.search-bar-container {
    width: 250px;
    height: fit-content;
    position: absolute;
    right: 0;
    top: 40px;
    z-index: -1;
    opacity: 0;
}

.all-group-container {
    display: flex;
    flex-direction: column;

}

.priority-container,
.radio-inputs {
    margin-top: 0;
}

.form-item-adduser {
    margin-top: 1rem;
    width: 300px;
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.addMember {
    width: 150px;
    background: transparent;
    border: 1px solid #000;
    border-radius: 6px;
    height: 40px;
}

.Group-member-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;

}

.group-member {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 200px;
}

.group-member:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.group-member img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.group-member h4 {
    margin: 10px;
    text-align: center;
}