@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Itim", cursive;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.content {
    background: #F3F4F8;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    overflow: scroll;
}

.user-notification {
    position: relative;
}

.user-notification::before {
    content: attr(data-notification-count);
    position: absolute;
    left: 20px;
    top: -10px;
    font-family: "Itim", cursive;
    font-size: 15px;
    color: #fff;
    width: 20px;
    height: 20px;
    background: #111324;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-notification {
    --notification-count: 1;
}


.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic:hover {
    cursor: pointer;
}

.profile-drop-down {
    position: absolute;
    width: 200px;
    height: fit-content;
    padding: 1rem;
    background: #282A3A;
    z-index: -1;
    opacity: 0;
    color: #fff;
    top: 120%;
    border-radius: 5px;
}

.drop-down-item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.drop-down-item div {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.drop-down-item div:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.profile-pic img {
    width: 100%;
    height: 100%;
}

.profile-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 2rem;
    margin-bottom: 2rem;
    position: relative;

}

.task-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-header {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-size: 20px;
}

.create-task-button {
    background: #111324;
    width: 200px;
    height: 50px;
    border-radius: 6px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.create-task-button:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.task-progress-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.task-container {
    width: 100%;
    overflow: hidden;
    height: 0px;
    transition: all 0.4s ease-in;
}

.overall-task-container {
    display: flex;
    padding-top: 1rem;
    column-gap: 2rem;
    height: 100vh;
}

.task-card {
    width: 100%;
    background: #fff;
    height: 140px;
    padding: 1rem;
    border-radius: 6px;
    position: relative;
    margin-top: 1rem;
}

.task-card::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background: #A83737;
    left: 0;
    top: 0;
    /* border-left-top-radius: 6px; */
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.task-title-container {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.circle {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #000;
}

.due-date {
    width: fit-content;
    height: fit-content;
    padding: 6px 9px;
    background: #D3D5DB;
    border-radius: 6px;
}

.priority {
    width: fit-content;
    height: fit-content;
    padding: 6px 10px;
    border-radius: 6px;
}

.High {
    background: #FFF5EE;
    color: #EF7F7F;
}

.medium {
    background: #F8EBC8;
    color: #ECAF68;

}

.low {
    color: #89A462;
    background: #EBF6D0;
}

.task-description-container {
    color: #6B6363;
    margin-top: 1rem;
    padding-left: 32px;
}

.task-footer-container {
    padding-left: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    font-size: 13px;
    column-gap: 20px;
}

.user-profile-image {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.card-profile-container {
    display: flex;
    align-items: center;
}

.comment-icon {
    position: relative;
}

.comment-icon::after {
    content: attr(data-comment-count);
    /* Use the data attribute as content */
    position: absolute;
    left: -10px;
    top: 10px;
    color: #000;
    font-size: 14px;
    font-family: "Itim", cursive;
    transform: translateY(-50%);
}

.task-card:hover {
    cursor: pointer;
    filter: brightness(85%);
}

.task-containerPending {
    width: 100%;
    overflow: hidden;
    height: 0px;
    transition: all 0.4s ease-in;
}

.expand-checkbox:checked~.task-container {
    height: fit-content;

}

.expand-checkboxPending:checked~.task-containerPending {
    height: fit-content;

}

#expandTask,
#expandTaskPending,
#expandTaskCompleted {
    display: none;
}



.task-containerCompleted {
    width: 100%;
    overflow: hidden;
    height: 0px;
    transition: all 0.4s ease-in;
}

.expand-checkboxCompleted:checked~.task-containerCompleted {
    height: fit-content;

}

.tasks-list-container {
    width: 100%;
}

.my-task-container {
    background: #111324;
    width: 100%;
    border-radius: 6px;
    margin-top: 1rem;
    color: #fff;
    padding: 1rem;
    overflow-y: scroll;
    min-height: 100vh;
    height: fit-content;
}

.mytask-container {
    width: 100%;
    overflow: hidden;
    height: 0px;
    transition: all 0.4s ease-in;
    color: #000;
}

.expand-mytaskcheckbox:checked~.mytask-container {
    height: fit-content;

}

#expandMyTask {
    display: none;
}

.myPendingtask-container {
    width: 100%;
    overflow: hidden;
    height: 0px;
    transition: all 0.4s ease-in;
    color: #000;
}

.expand-mytaskPendingcheckbox:checked~.myPendingtask-container {
    height: fit-content;

}

#expandMyTaskPending {
    display: none;
}


.myCompletedtask-container {
    width: 100%;
    overflow: hidden;
    height: 0px;
    transition: all 0.4s ease-in;
    color: #000;
}

.expand-mytaskCompletedcheckbox:checked~.myCompletedtask-container {
    height: fit-content;

}

#expandMyCompletedTask {
    display: none;
}



.comment-modal-container {
    width: 42%;
    height: 100vh;
    background: #282A3A;
    position: absolute;
    right: 0;
    padding: 1rem 2rem;
    color: #fff;
    z-index: -1;
    opacity: 0;
    transition: all .3s ease-in;
}

.comment-container {
    margin-top: 1rem;
    height: 55vh;
    overflow-y: scroll;
}

.comment-container div {
    margin-top: 1rem;
}

.comment-profile-container {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.comment-dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
}

.comment-date {
    color: #999999;
}

.comment {
    background: #D3D5DB;
    padding: 10px;
    height: fit-content;
    border-radius: 6px;
    color: #000;
    margin-top: 10px;
}

.Add-comment-section {
    padding-top: 10px;
    overflow-y: scroll;
}

.comment-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comment-text-area {
    border: 1px solid #fff;
    background-color: transparent;
    width: 100%;
    resize: vertical;
    border-radius: 6px;
    margin-top: 10px;
    color: #fff;
}

.comment-button {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #000;
    margin-top: 10px;
    margin-left: auto !important;
    border-radius: 6px;
}


.createTask-modal-container {
    width: 42%;
    height: 100vh;
    background: #282A3A;
    position: absolute;
    right: 0;
    padding: 1rem 2rem;
    color: #fff;
    z-index: -1;
    opacity: 0;
    transition: all .3s ease-in;
}

.inactive {
    pointer-events: none;
}

.task-form-container {
    width: 100%;
    margin-top: 4rem;
    padding-left: 7px;
}

.form-item {
    margin-top: 1rem;
}

.form-input-item {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background: transparent;
    border-radius: 6px;
    color: #fff;
}

.task-textarea {
    background-color: transparent;
    border-radius: 6px;
    width: 100%;
    margin-top: 10px;
    color: #fff;
}


.form-item-sm {
    display: flex;
    align-items: center;
    column-gap: 2rem;

}

.form-item-sm div {
    width: 100%;
}

select {
    padding: 9px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;

}

select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.radio-container {
    display: flex;
}

.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    width: 100%;
    font-size: 14px;
    height: 40px;
    color: #fff;
    border: 1px solid #fff;
}

.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: none;
    padding: .5rem 0;
    color: #fff;
    transition: all .15s ease-in-out;
    height: 100%;
}

.radio-inputs .radio input:checked+.name {
    background-color: #fff;
    font-weight: 600;
    color: #000;
}

.priority-container,
.radio-inputs {
    margin-top: 10px;
}


/* Style for date input */
input[type="date"] {
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}

/* Style for date input arrow icon */
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    /* Adjust as needed */
    height: 20px;
    /* Adjust as needed */
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

/* Style for date input arrow icon (for Firefox) */
input[type="date"]::-moz-calendar-picker-indicator {
    display: none;
    /* Hide default arrow icon for Firefox */
}

/* Style for date input arrow icon (for Edge and IE) */
input[type="date"]::-ms-clear {
    display: none;
    /* Hide default arrow icon for Edge and IE */
}


.create-button {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #F3F4F8;
    color: #000;
    border-radius: 6px;
    margin-top: 20px;
    font-size: 17px;
}

.create-button:hover {
    cursor: pointer;
}

.profile-modal-container {
    width: 100%;
    height: 100%;

    background: #00000040;
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.user-profile {
    background: #282A3A;
    width: 600px;
    height: fit-content;
    border-radius: 6px;
    padding: 2rem;
    color: #fff;
}

.setting-profile-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    flex-direction: column;
    row-gap: 1rem;
}

.setting-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.upload-photo-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.upload-photo-link {
    color: #B6F1D8;
}

.upload-photo-link:hover {
    cursor: pointer;
}

.setting-input-items-sm {
    display: flex;
    column-gap: 2rem;
    margin-top: 1rem;
}

.setting-input-items-sm div {
    width: 100%;
}

.setting-input-items-sm div input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border-radius: 6px;
    display: flex;
    align-items: center;
    color: #fff;
    margin-top: 10px;
}

.notification-item-container {
    margin-top: 25px;
}

.save-changes-btn {
    width: 50%;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    margin-left: auto !important;
}

.save-changes-btn:hover {
    cursor: pointer;
    background: #fff;
    color: #000;
}

.setting-close:hover {

    cursor: pointer;
}



.profile-close-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.comment-profile-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.addMember {
    width: fit-content;
    background: transparent;
    border: 1px solid #000;
    border-radius: 6px;
    height: 39px;
    margin-top: 8px;
}



.priority-container {
    width: 130px;
}

.update-task {
    display: flex !important;
    align-items: center !important;
    height: 100%;
    justify-content: center !important;
    margin-top: 0 !important;
    width: fit-content;
}

.update-progress {
    margin-top: 0rem !important;
}

.update-progress {
    margin-top: 0rem !important;
}

#addMemberManual {
    position: absolute;
    top: 68px;
    left: 0;
    background: #fff;
    border: 1px solid springgreen;
    padding: 1rem;
    border-radius: 6px;
    opacity: 0;
    z-index: -1;
}


.user-notification-modal {
    width: 600px;
    height: 400px;
    background: #282A3A;
    position: absolute;
    right: 30px;
    top: 80px;
    border-radius: 6px;
    padding: 1rem;
    opacity: 0;
    z-index: -1;
}

.notification-user {
    background: #D3D5DB;
    padding: 10px;
    height: fit-content;
    border-radius: 6px;
    color: #000;
    margin-top: 10px;
}