.nav-item-container {
    background: #282A3A;
    height: 100vh;
    width: 250px;
    color: #fff;
    padding: 2rem;
}

.nav-header {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.nav-items {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #fff;
    font-size: 19px;
    margin-bottom: 2rem;
}

.nav-items a {
    color: #fff;
    text-decoration: none;
}

.active,
.active a {
    color: aqua;
}