.my-task-container {
    background: #111324;
    width: 100%;
    border-radius: 6px;
    margin-top: 1rem;
    color: #fff;
    padding: 1rem;
    overflow-y: scroll;
    min-height: fit-content;
    height: fit-content;
}

